* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: rgb(255, 247, 0);
}

body {
  background: linear-gradient(
    80deg,
    rgba(255, 84, 112, 0.789),
    rgba(255, 45, 213, 0.789),
    rgba(0, 0, 255, 0.789)
  );
  text-align: center;
  font-size: 25px;
  margin: 5rem;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 24px;
}
.album_artwork {
  width: 100%;
}

.album_artist {
  font-size: 22px;
  font-weight: bold;
}

.album_desc {
  font-size: 16px;
  line-height: 1.3;
}

.albums {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.album {
  background: rgba(255, 255, 255, 0.172);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.album:hover {
  background: rgba(255, 255, 255, 0.5);
}
